.footer {
    display: grid;
    grid-template-areas: 
        "creditos imgFoot politicas";
    grid-template-columns: 3fr 1fr 3fr;
    background-color: rgb(236, 223, 240);
    height: 200px;

        & &__creditos {
            grid-area: creditos;
            padding-top: 15px;
            padding-right: 25px;
                
                p {
                    text-align: end;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;
                }
        }

        & &__logo {
            grid-area: imgFoot;
            width: auto;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            animation-name: animacionFooter;
            animation-duration: 10s;
            animation-timing-function:linear;
            animation-delay: 0;
            animation-iteration-count:infinite;
            
                img {
                    width: 125px;
                    height: 125px;            
                }

                @keyframes animacionFooter {
                    0% {
                        transform: rotate(0deg);
                    }
            
                    25% {
                        transform: rotate(90deg);
                    }
            
                    50% {
                        transform: rotate(180deg);
                    }
            
                    75% {
                        transform: rotate(270deg);
                    }
                    
                    100% {
                        transform: rotate(360deg);
                    }
                }               
        }

        & &__politicas {
            grid-area: politicas;
            font-family: Arial, Helvetica, sans-serif;

                div {
                    display: flex;
                    flex-flow: column;
                    padding-top: 15px;
                    margin-left: 25px;            
                }

                    p {
                        font-weight: 700;
                    }

                    ul {
                        list-style-type: none;
                    }
        }
}